In [1]:
import os 
os.getcwd()

'C:\\Users\\Poojitha'

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("FMCG_Sales.csv")

In [5]:
df

,date,sku,brand,segment,category,channel,region,pack_type,price_unit,promotion_flag,delivery_days,stock_available,delivered_qty,units_sold
0,21-01-2022,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-Central,Multipack,2.38,0,1,141,128,9
1,21-01-2022,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-North,Single,1.55,1,3,0,129,0
2,21-01-2022,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-South,Carton,4.00,0,5,118,161,8
3,21-01-2022,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-Central,Single,5.16,0,2,81,114,7
4,21-01-2022,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-North,Single,7.66,0,4,148,204,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190752,31-12-2024,SN-030,SnBrand2,SnackBar-Seg1,SnackBar,Discount,PL-North,Single,2.55,0,2,190,163,25
190753,31-12-2024,SN-030,SnBrand2,SnackBar-Seg1,SnackBar,Discount,PL-South,Single,6.01,0,5,141,131,19
190754,31-12-2024,SN-030,SnBrand2,SnackBar-Seg1,SnackBar,E-commerce,PL-Central,Single,3.45,0,5,0,132,0
190755,31-12-2024,SN-030,SnBrand2,SnackBar-Seg1,SnackBar,E-commerce,PL-North,Multipack,1.93,1,2,211,201,40
190756,31-12-2024,SN-030,SnBrand2,SnackBar-Seg1,SnackBar,E-commerce,PL-South,Single,1.91,0,5,82,125,8

In [6]:
df.isnull().sum()

date               0
sku                0
brand              0
segment            0
category           0
channel            0
region             0
pack_type          0
price_unit         0
promotion_flag     0
delivery_days      0
stock_available    0
delivered_qty      0
units_sold         0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.dtypes

date                object
sku                 object
brand               object
segment             object
category            object
channel             object
region              object
pack_type           object
price_unit         float64
promotion_flag       int64
delivery_days        int64
stock_available      int64
delivered_qty        int64
units_sold           int64
dtype: object

In [9]:
#convert date column to datetime
df['Date']= pd. to_datetime(df['date'])

#Confrim
df.dtypes

C:\Users\Poojitha\AppData\Local\Temp\ipykernel_6908\3268134653.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date']= pd. to_datetime(df['date'])

date                       object
sku                        object
brand                      object
segment                    object
category                   object
channel                    object
region                     object
pack_type                  object
price_unit                float64
promotion_flag              int64
delivery_days               int64
stock_available             int64
delivered_qty               int64
units_sold                  int64
Date               datetime64[ns]
dtype: object

df.dtypes

In [10]:

#clean text columns
text_cols = ['sku','brand','segment','category','channel','region','pack_type']

In [11]:
df = df.drop_duplicates()

print("Shape after removing duplicates:", df.shape)

df.head()

Shape after removing duplicates: (190757, 15)

,date,sku,brand,segment,category,channel,region,pack_type,price_unit,promotion_flag,delivery_days,stock_available,delivered_qty,units_sold,Date
0,21-01-2022,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-Central,Multipack,2.38,0,1,141,128,9,2022-01-21
1,21-01-2022,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-North,Single,1.55,1,3,0,129,0,2022-01-21
2,21-01-2022,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-South,Carton,4.00,0,5,118,161,8,2022-01-21
3,21-01-2022,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-Central,Single,5.16,0,2,81,114,7,2022-01-21
4,21-01-2022,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-North,Single,7.66,0,4,148,204,12,2022-01-21

In [12]:
print(df.columns.tolist())

['date', 'sku', 'brand', 'segment', 'category', 'channel', 'region', 'pack_type', 'price_unit', 'promotion_flag', 'delivery_days', 'stock_available', 'delivered_qty', 'units_sold', 'Date']

In [13]:
df = df.drop(columns=['date'])
print(df.columns)

Index(['sku', 'brand', 'segment', 'category', 'channel', 'region', 'pack_type',
       'price_unit', 'promotion_flag', 'delivery_days', 'stock_available',
       'delivered_qty', 'units_sold', 'Date'],
      dtype='object')

In [14]:
df['year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Date'].dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
190752    Tuesday
190753    Tuesday
190754    Tuesday
190755    Tuesday
190756    Tuesday
Name: Date, Length: 190757, dtype: object

In [16]:
# check column names
print(df.columns.tolist())

['sku', 'brand', 'segment', 'category', 'channel', 'region', 'pack_type', 'price_unit', 'promotion_flag', 'delivery_days', 'stock_available', 'delivered_qty', 'units_sold', 'Date', 'year', 'Month', 'Day']

In [17]:
#fix hidden space in column name
df.columns = df.columns.str.strip()

In [18]:
#confrim correct name
df['promotion_flag'] =pd.to_numeric(df['promotion_flag'],errors='coerce').fillna(0).astype(int)

In [21]:
print(df['promotion_flag'].unique())
print(df.head())

[0 1]
      sku     brand    segment category   channel      region  pack_type  \
0  MI-006  MiBrand1  Milk-Seg3     Milk    Retail  PL-Central  Multipack
1  MI-006  MiBrand1  Milk-Seg3     Milk    Retail    PL-North     Single
2  MI-006  MiBrand1  Milk-Seg3     Milk    Retail    PL-South     Carton
3  MI-006  MiBrand1  Milk-Seg3     Milk  Discount  PL-Central     Single
4  MI-006  MiBrand1  Milk-Seg3     Milk  Discount    PL-North     Single

   price_unit  promotion_flag  delivery_days  stock_available  delivered_qty  \
0        2.38               0              1              141            128
1        1.55               1              3                0            129
2        4.00               0              5              118            161
3        5.16               0              2               81            114
4        7.66               0              4              148            204

   units_sold       Date  year  Month  Day
0           9 2022-01-21  2022      1   21
1           0 2022-01-21  2022      1   21
2           8 2022-01-21  2022      1   21
3           7 2022-01-21  2022      1   21
4          12 2022-01-21  2022      1   21

In [22]:
import pandas as pd

In [23]:
df.columns = df.columns.str.strip()

In [24]:
df["promotion_flag"] = df["promotion_flag"].astype(str).str.strip().str.lower()
df["promotion_flag"] = df["promotion_flag"].replace({"yes": 1, "y": 1, "true": 1, "t": 1, "1": 1,
                                                     "no": 0, "n": 0, "false": 0, "f": 0, "0": 0
                                                    })

C:\Users\Poojitha\AppData\Local\Temp\ipykernel_6908\3035838572.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["promotion_flag"] = df["promotion_flag"].replace({"yes": 1, "y": 1, "true": 1, "t": 1, "1": 1,

In [25]:
x = 10
print(x)

10

In [25]:
df["promotion_flag"] = df["promotion_flag"].astype(str).str.strip().str.lower()
df["promotion_flag"] = df["promotion_flag"].replace({"yes": 1, "y": 1, "true": 1, "t": 1, "1": 1,
                                                     "no": 0, "n": 0, "false": 0, "f": 0, "0": 0
                                                    })

C:\Users\Poojitha\AppData\Local\Temp\ipykernel_13560\784549284.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["promotion_flag"] = df["promotion_flag"].replace({"yes": 1, "y": 1, "true": 1, "t": 1, "1": 1,

In [27]:
import pandas as pd
df.columns = df.columns.str.strip()

# Convert everything to string
df["promotion_flag"] = df["promotion_flag"].astype(str)

# Strip extra spaces and lowercase all values
df["promotion_flag"] = df["promotion_flag"].str.strip().str.lower()

# Replace possible text forms with numeric 0/1
df["promotion_flag"] = df["promotion_flag"].replace({
    "yes": 1, "y": 1, "true": 1, "t": 1, "1": 1,
    "no": 0, "n": 0, "false": 0, "f": 0, "0": 0
})

# Convert safely to numeric
df["promotion_flag"] = pd.to_numeric(df["promotion_flag"], errors="coerce").fillna(0).astype(int)

# Convert to True/False (boolean)
df["promotion_flag"] = df["promotion_flag"].astype(bool)

# Check result
print(" promotion_flag cleaned successfully.")
print(df["promotion_flag"].value_counts())

 promotion_flag cleaned successfully.
promotion_flag
False    162296
True      28461
Name: count, dtype: int64

C:\Users\Poojitha\AppData\Local\Temp\ipykernel_6908\4006692883.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["promotion_flag"] = df["promotion_flag"].replace({

In [28]:
print(df.columns.tolist())

['sku', 'brand', 'segment', 'category', 'channel', 'region', 'pack_type', 'price_unit', 'promotion_flag', 'delivery_days', 'stock_available', 'delivered_qty', 'units_sold', 'Date', 'year', 'Month', 'Day']

In [30]:
df.to_csv("FMCG_Sales_cleaned.csv",index=False)
print("Cleaned dataset saved successfully as 'FMCG_Sales_Cleaned.csv!")

Cleaned dataset saved successfully as 'FMCG_Sales_Cleaned.csv!

In [31]:
print(df.shape)
print(df.info())
print(df.head())

(190757, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190757 entries, 0 to 190756
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   sku              190757 non-null  object
 1   brand            190757 non-null  object
 2   segment          190757 non-null  object
 3   category         190757 non-null  object
 4   channel          190757 non-null  object
 5   region           190757 non-null  object
 6   pack_type        190757 non-null  object
 7   price_unit       190757 non-null  float64
 8   promotion_flag   190757 non-null  bool
 9   delivery_days    190757 non-null  int64
 10  stock_available  190757 non-null  int64
 11  delivered_qty    190757 non-null  int64
 12  units_sold       190757 non-null  int64
 13  Date             190757 non-null  datetime64[ns]
 14  year             190757 non-null  int32
 15  Month            190757 non-null  int32
 16  Day              190757 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(1), int32(3), int64(4), object(7)
memory usage: 21.3+ MB
None
      sku     brand    segment category   channel      region  pack_type  \
0  MI-006  MiBrand1  Milk-Seg3     Milk    Retail  PL-Central  Multipack
1  MI-006  MiBrand1  Milk-Seg3     Milk    Retail    PL-North     Single
2  MI-006  MiBrand1  Milk-Seg3     Milk    Retail    PL-South     Carton
3  MI-006  MiBrand1  Milk-Seg3     Milk  Discount  PL-Central     Single
4  MI-006  MiBrand1  Milk-Seg3     Milk  Discount    PL-North     Single

   price_unit  promotion_flag  delivery_days  stock_available  delivered_qty  \
0        2.38           False              1              141            128
1        1.55            True              3                0            129
2        4.00           False              5              118            161
3        5.16           False              2               81            114
4        7.66           False              4              148            204

   units_sold       Date  year  Month  Day
0           9 2022-01-21  2022      1   21
1           0 2022-01-21  2022      1   21
2           8 2022-01-21  2022      1   21
3           7 2022-01-21  2022      1   21
4          12 2022-01-21  2022      1   21

In [32]:
print(df.shape)
df.head()

(190757, 17)

,sku,brand,segment,category,channel,region,pack_type,price_unit,promotion_flag,delivery_days,stock_available,delivered_qty,units_sold,Date,year,Month,Day
0,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-Central,Multipack,2.38,False,1,141,128,9,2022-01-21,2022,1,21
1,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-North,Single,1.55,True,3,0,129,0,2022-01-21,2022,1,21
2,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-South,Carton,4.00,False,5,118,161,8,2022-01-21,2022,1,21
3,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-Central,Single,5.16,False,2,81,114,7,2022-01-21,2022,1,21
4,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-North,Single,7.66,False,4,148,204,12,2022-01-21,2022,1,21

In [33]:
import os 

print(os.path.getsize("FMCG_Sales_Cleaned.csv"),"bytes")

20579649 bytes

In [ ]:
# Re-export clean FMCG dataset properly
df.to_csv("FMCG_Sales_Cleaned.csv", index=False, encoding='utf-8-sig')
df.to_excel("FMCG_Sales_Cleaned.xlsx", index=False)

print("Cleaned data re-exported successfully to both CSV and Excel files!")

In [ ]:
!pip install openpyxl

In [37]:
!python -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\users\poojitha\appdata\roaming\python\python312\site-packages (25.2)

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001E6F4F81130>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/pip/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001E6F5224740>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/pip/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001E6F5224950>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/pip/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001E6F5224B90>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/pip/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001E6F5224DD0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/pip/

In [ ]:
df.to_excel("FMCG_Sales_cleaned.csv",index=False

import os 
print(os.listdir())

In [48]:
import pandas as pd
from sqlalchemy import create_engine

# 1️⃣ Load your FMCG cleaned CSV file
df = pd.read_csv(r"C:\Users\Poojitha\Desktop\FMCG_Sales_FinalDB.csv")

# 2️⃣ Connect to MySQL database
user = "root" # your MySQL username
password = "poojamysql$2000" # replace with your MySQL password
host = "localhost"
database = "fmcg_sales_db"

# 3️⃣ Create the SQL connection
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

# 4️⃣ Upload dataset to MySQL
df.to_sql("fmcg_sales_final", con=engine, if_exists="replace", index=False)

print("✅ All data imported successfully to MySQL!")

✅ All data imported successfully to MySQL!

In [23]:
!pip install SQLAlchemy pymysql

Defaulting to user installation because normal site-packages is not writeable
Collecting SQLAlchemy
  Downloading sqlalchemy-2.0.43-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Collecting greenlet>=1 (from SQLAlchemy)
  Downloading greenlet-3.2.4-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from SQLAlchemy)
  Downloading typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Downloading sqlalchemy-2.0.43-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 672.2 kB/s eta 0:00:03
   --------- ------------------------------ 0.5/2.1 MB 672.2 kB/s eta 0:00:03
   -------------- ------------------------- 0.8/2.1 MB 657.8 kB/s eta 0:00:03
   -------------- ------------------------- 0.8/2.1 MB 657.8 kB/s eta 0:00:03
   ------------------- -------------------- 1.0/2.1 MB 709.1 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 754.4 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 754.4 kB/s eta 0:00:02
   ----------------------------- ---------- 1.6/2.1 MB 777.0 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 792.8 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 792.8 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 810.2 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 750.4 kB/s  0:00:03
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Downloading greenlet-3.2.4-cp312-cp312-win_amd64.whl (299 kB)
Downloading typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, pymysql, greenlet, SQLAlchemy

   ---------------------------------------- 0/4 [typing-extensions]
   ---------------------------------------- 0/4 [typing-extensions]
   ---------------------------------------- 0/4 [typing-extensions]
   ---------------------------------------- 0/4 [typing-extensions]
   ---------------------------------------- 0/4 [typing-extensions]
   ---------------------------------------- 0/4 [typing-extensions]
   ---------- ----------------------------- 1/4 [pymysql]
   ---------- ----------------------------- 1/4 [pymysql]
   ---------- ----------------------------- 1/4 [pymysql]
   ---------- ----------------------------- 1/4 [pymysql]
   ---------- ----------------------------- 1/4 [pymysql]
   ---------- ----------------------------- 1/4 [pymysql]
   ---------- ----------------------------- 1/4 [pymysql]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   -------------------- ------------------- 2/4 [greenlet]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ------------------------------ --------- 3/4 [SQLAlchemy]
   ---------------------------------------- 4/4 [SQLAlchemy]

Successfully installed SQLAlchemy-2.0.43 greenlet-3.2.4 pymysql-1.1.2 typing-extensions-4.15.0

In [46]:
import os 
print(os.listdir(r"C:\Users\Poojitha\Desktop"))

['desktop.ini', 'FMCG_Sales_Fianldb.xlssx.csv', 'FMCG_Sales_FinalDB.csv', 'loan_approval_dataset.csv']